<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--引入vue.js-->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>


    <!--引入 element js css-->
    <link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
    <script src="../../plugins/axios/axios-0.18.0.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>缺陷统计</title>
    <link type="text/css" href="../../styles/public.css" rel="stylesheet">
    <link type="text/css" href="../../styles/icon.css" rel="stylesheet">
    <link type="text/css" href="../../styles/failureindex.css" rel="stylesheet">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 768 * 100 + 'px';
    </script>

    <script src="../../js/echarts.min.js"></script>
</head>
<style>
    .abc {

    }

</style>

<body>
<div id="app">
    <div class="bg">
        <div class="title">缺陷统计</div>
        <el-date-picker
                v-model="userInput.date1"
                name="date1"
                align="right"
                type="date"
                placeholder="开始日期"
                :picker-options="pickerOptions">
        </el-date-picker>
        <el-date-picker
                v-model="userInput.date2"
                name="date2"
                align="left"
                type="date"
                placeholder="结束日期"
                :picker-options="pickerOptions">
        </el-date-picker>
        <el-button icon="el-icon-search" @click="submitForm" value="提交"></el-button>
        </span>
        <div class="leftMain">
            <div class="leftMain_top">
                <div class="leftMain_topIn">
                    <ul>
                        <li>
                            <div class="liIn">

                                <h3>这里是标题1</h3>
                                <p class="shu"><span class="shu1">6890</span><i>台</i></p>
                                <div class="zi"><span class="span1">小标题：文字</span><span>小标题：文字</span></div>
                                <span class="border_bg_leftTop"></span>
                                <span class="border_bg_rightTop"></span>
                                <span class="border_bg_leftBottom"></span>
                                <span class="border_bg_rightBottom"></span>
                            </div>
                        </li>
                        <li>
                            <div class="liIn">
                                <h3>这里是标题2</h3>
                                <p class="shu"><span class="shu2">6090</span><i>台</i></p>

                                <div class="zi"><span class="span1">小标题：文字</span><span>小标题：文字</span></div>

                                <span class="border_bg_leftTop"></span>
                                <span class="border_bg_rightTop"></span>
                                <span class="border_bg_leftBottom"></span>
                                <span class="border_bg_rightBottom"></span>
                            </div>
                        </li>
                        <li>
                            <div class="liIn">
                                 <h3>这里是标题3</h3>--%>
                                 <p class="shu"><span class="shu3">2890.39</span><i>个</i></p>

                                <div class="zi"><span class="span1">小标题：文字</span><span>小标题：文字</span></div>

                                <span class="border_bg_leftTop"></span>
                                 <span class="border_bg_rightTop"></span>
                                <span class="border_bg_leftBottom"></span>
                                 <span class="border_bg_rightBottom"></span>
                            </div>
                        </li>
                        <li>
                            <div class="liIn">
                                 <h3>这里是标题4</h3>
                                 <p class="shu"><span class="shu4">11111</span><i>个</i></p>

                                <div class="zi"><span class="span1">小标题：文字</span><span>小标题：文字</span></div>

                             <span class="border_bg_leftTop"></span>
                              <span class="border_bg_rightTop"></span>
                                <span class="border_bg_leftBottom"></span>
                               <span class="border_bg_rightBottom"></span>

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="leftMain_middle">
                <div class="leftMain_middle_left">
                    <div class="leftMain_middle_leftIn">
                        <h3>每日缺陷统计</h3>
                        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                        <div class="biaoge" style="width:100%; height:25vh" id="chartmain"></div>
                        <span class="border_bg_leftTop"></span>
                        <span class="border_bg_rightTop"></span>
                        <span class="border_bg_leftBottom"></span>
                        <span class="border_bg_rightBottom"></span>
                    </div>
                </div>
                <div class="leftMain_middle_right">
                    <div class="leftMain_middle_rightIn">
                        <h3>缺陷排名</h3>
                        <div class="biaoge" style="width:100%; height:25vh" id="failuretypebing"></div>
                        <span class="border_bg_leftTop"></span>
                        <span class="border_bg_rightTop"></span>
                        <span class="border_bg_leftBottom"></span>
                        <span class="border_bg_rightBottom"></span>
                    </div>
                </div>
            </div>
            <div class="leftMain_middle">
                <div class="leftMain_middle_left">
                    <div class="leftMain_middle_leftIn">
                        <h3>缺陷趋势曲线</h3>
                        <div class="biaoge" style="width:100%; height:30vh" id="chartmain_zhe"></div>
                        <span class="border_bg_leftTop"></span>
                        <span class="border_bg_rightTop"></span>
                        <span class="border_bg_leftBottom"></span>
                        <span class="border_bg_rightBottom"></span>
                    </div>
                </div>
                <div class="leftMain_middle_right">
                    <div class="leftMain_middle_rightIn">
                        <h3></h3>
                        <div class="biaoge biaoge_bi" style="width:100%; height:25vh">
                            <ul>
                                <li>
                                    <div class="liIn">
                                        <p class="shu shu1">23</p>
                                        <p class="zi">今日比例</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="liIn">
                                        <p class="shu shu2">107</p>
                                        <p class="zi">本月比例</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="liIn">
                                        <p class="shu shu3">107</p>
                                        <p class="zi">历史比例</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="liIn">
                                        <p class="shu shu4">23</p>
                                        <p class="zi">今日比例</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="liIn">
                                        <p class="shu shu5">23</p>
                                        <p class="zi">本月比例</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="liIn">
                                        <p class="shu shu6">23</p>
                                        <p class="zi">历史比例</p>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <span class="border_bg_leftTop"></span>
                        <span class="border_bg_rightTop"></span>
                        <span class="border_bg_leftBottom"></span>
                        <span class="border_bg_rightBottom"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightMain">
            <div class="rightMain_top">
                <div class="rightMain_topIn">
                    <h3>缺陷占比</h3>
                    <div class="biaoge" style="width:100%; height:30vh" id="chartmain_bing"></div>
                    <span class="border_bg_leftTop"></span>
                    <span class="border_bg_rightTop"></span>
                    <span class="border_bg_leftBottom"></span>
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
            <div class="rightMain_bottom">
                <div class="rightMain_bottomIn">
                    <h3>条目明细</h3>
                    <div class="biaoge biaoge_list" style="width:100%; height:36vh">
                        <!--                    <div class="biaoge_listIn">-->
                        <!--                        <ul class="ul_title">-->
                        <!--                            <li>用户</li>-->
                        <!--                            <li>类型号</li>-->
                        <!--                            <li>类别一</li>-->
                        <!--                            <li>类别二</li>-->
                        <!--                            <li>类别三</li>-->
                        <!--                        </ul>-->
                        <!--                        <div class="ul_list">-->
                        <!--                            <div class="ul_listIn">-->
                        <!--                              -->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>11</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>12</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>13</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>14</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>15</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>16</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>11</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>12</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>13</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>14</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>15</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                                <ul class="ul_con">-->
                        <!--                                    <li>张三</li>-->
                        <!--                                    <li>16</li>-->
                        <!--                                    <li>类别一</li>-->
                        <!--                                    <li>类别二</li>-->
                        <!--                                    <li>类别三</li>-->
                        <!--                                </ul>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                    </div>-->

                    </div>
                    <span class="border_bg_leftTop"></span>
                    <span class="border_bg_rightTop"></span>
                    <span class="border_bg_leftBottom"></span>
                    <span class="border_bg_rightBottom"></span>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<!--数字增长累加动画-->
<script src="../../js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="../../js/jquery.numscroll.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(".shu1").numScroll();
    $(".shu2").numScroll();
    $(".shu3").numScroll();
    $(".shu4").numScroll();
    $(".shu5").numScroll();
    $(".shu6").numScroll();

    /*$(".num2").numScroll({
        time:5000
    });*/
</script>

<script>


    new Vue({
        el: "#app",
        data() {
            return {
                date1: "",
                date2: "",
                userInput: {},
                failure: {},
//---------------------------------
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },
                value1: '',
                value2: '',

                //----------------------------------------
            }
        },


        methods: {
            submitForm() {
                var _this = this;
                axios({
                    method: "post",
                    url: "/production/dayvalue",
                    data: _this.userInput
                }).then(function (resp) {
                    //返回数据
                    let failure = resp.data

                    var dataAxis = failure.totalDate;
                    var data = failure.totalCount;
                    var yMax = 500;
                    var dataShadow = [];

                    for (var i = 0; i < data.length; i++) {
                        dataShadow.push(yMax);
                    }
//----每日缺陷统计
                    option = {
                        title: {
                            text: '',
                            subtext: ''
                        },
                        grid: {
                            x: 40,
                            y: 40,
                            x2: 20,
                            y2: 20,

                        },
                        xAxis: {
                            data: dataAxis,
                            axisLabel: {
                                /*inside: true,*/
                                interval: 0,
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 12

                                }
                            },
                            axisTick: {
                                show: false,
                            },
                            axisLine: {
                                show: true,
                                symbol: ['none', 'arrow'],
                                symbolOffset: 12,
                                lineStyle: {
                                    color: '#fff',
                                }
                            },
                            z: 10
                        },
                        yAxis: {
                            type: 'value',
                            name: '',
                            axisLine: {
                                show: true,
                                symbol: ['none', 'arrow'],
                                symbolOffset: 12,
                                lineStyle: {
                                    color: '#fff',
                                }
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 12
                                }
                            }
                        },

                        dataZoom: [
                            {
                                type: 'inside'
                            }
                        ],
                        series: [
                            { // For shadow
                                type: 'bar',
                                itemStyle: {
                                    color: 'rgba(0,0,0,0.05)'
                                },
                                barGap: '-100%',
                                barCategoryGap: '40%',
                                data: dataShadow,
                                animation: false
                            },
                            {
                                type: 'bar',
                                itemStyle: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#0efdff'},
                                            {offset: 0.5, color: '#188df0'},
                                            {offset: 1, color: '#188df0'}
                                        ]
                                    )
                                },
                                emphasis: {
                                    itemStyle: {
                                        color: new echarts.graphic.LinearGradient(
                                            0, 0, 0, 1,
                                            [
                                                {offset: 0, color: '#2378f7'},
                                                {offset: 0.7, color: '#2378f7'},
                                                {offset: 1, color: '#0efdff'}
                                            ]
                                        )
                                    }
                                },
                                data: data
                            }
                        ]
                    };


                    //获取dom容器
                    var myChart = echarts.init(document.getElementById('chartmain'));
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                    //};

//缺陷趋势

                    //window.onload = function (){
                    //指定图表的配置项和数据

                    option = {
                        title: {
                            text: ''
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            textStyle: {
                                color: '#fff',
                                fontSize: 12,
                            },
                            right: '10%',
                            data: ['折线一', '折线二']
                        },
                        grid: {
                            x: 40,
                            y: 40,
                            x2: 20,
                            y2: 20,
                        },
                        toolbox: {
                            feature: {
                                //saveAsImage: {}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            axisLabel: {
                                /*inside: true,*/
                                interval: 0,
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 12

                                }
                            },
                            axisTick: {
                                show: false,
                            },
                            axisLine: {
                                show: true,
                                symbol: ['none', 'arrow'],
                                symbolOffset: 12,
                                lineStyle: {
                                    color: '#fff',
                                }
                            },
                            data: failure.totalDate

                        },
                        yAxis: {
                            type: 'value',

                            axisLine: {
                                show: true,
                                symbol: ['none', 'arrow'],
                                symbolOffset: 12,
                                lineStyle: {
                                    color: '#fff',
                                }
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 12
                                }
                            }
                        },
                        series: [
                            {
                                name: '折线一',
                                type: 'line',
                                stack: '总量',
                                data: failure.totalCount,
                                itemStyle: {
                                    normal: {
                                        color: "#0efdff",//折线点的颜色
                                        lineStyle: {
                                            color: "#0efdff",//折线的颜色
                                            width: 2,
                                        }
                                    },
                                }
                            },
                            {
                                name: '折线二',
                                type: 'line',
                                stack: '总量',
                                data: []
                            },
                        ]
                    };
                    //获取dom容器
                    var myChart = echarts.init(document.getElementById('chartmain_zhe'));
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                    //};

//---缺陷占比


                    option = {
                        title: {
                            text: '缺陷位置情况统计',
                            subtext: '',
                            left: 'right',
                            textStyle: {
                                color: '#fff',
                                fontSize: 12
                            }
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} ({d}%)'
                        },
                        legend: {
                            // orient: 'vertical',
                            // top: 'middle',
                            type: 'scroll',
                            orient: 'vertical',
                            right: 10,
                            top: 40,
                            bottom: 20,
                            left: 'right',
                            data: [failure.componentDesc[0], failure.componentDesc[1], failure.componentDesc[2], failure.componentDesc[3], failure.componentDesc[4]],
                            textStyle: {
                                color: '#fff',
                                fontSize: 12
                            }

                        },
                        grid: {
                            x: '-10%',
                            y: 40,
                            x2: 20,
                            y2: 20,
                        },
                        color: ['#09d0fb', '#f88cfb', '#95f8fe', '#f9f390', '#ecfeb7'],
                        series: [
                            {
                                type: 'pie',
                                radius: '65%',
                                center: ['50%', '50%'],
                                selectedMode: 'single',
                                data: [
                                    {value: failure.componentCount[0], name: failure.componentDesc[0]},
                                    {value: failure.componentCount[1], name: failure.componentDesc[1]},
                                    {value: failure.componentCount[2], name: failure.componentDesc[2]},
                                    {value: failure.componentCount[3], name: failure.componentDesc[3]}
                                ],
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    //获取dom容器
                    var myChart = echarts.init(document.getElementById('chartmain_bing'));
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);

                    option = {
                        title: {
                            text: '缺陷位置情况统计',
                            subtext: '',
                            left: 'right',
                            textStyle: {
                                color: '#fff',
                                fontSize: 12
                            }
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} ({d}%)'
                        },
                        legend: {
                            // orient: 'vertical',
                            // top: 'middle',
                            type: 'scroll',
                            orient: 'vertical',
                            right: 10,
                            top: 40,
                            bottom: 20,
                            left: 'right',
                            data: [failure.failureType[0], failure.failureType[1], failure.failureType[2], failure.failureType[3], failure.failureType[4]],
                            textStyle: {
                                color: '#fff',
                                fontSize: 12
                            }

                        },
                        grid: {
                            x: '-10%',
                            y: 40,
                            x2: 20,
                            y2: 20,
                        },
                        color: ['#09d0fb', '#f88cfb', '#95f8fe', '#f9f390', '#ecfeb7'],
                        series: [
                            {
                                type: 'pie',
                                radius: '65%',
                                center: ['50%', '50%'],
                                selectedMode: 'single',
                                data: [
                                    {value: failure.CountType[0], name: failure.failureType[0]},
                                    {value: failure.CountType[1], name: failure.failureType[1]},
                                    {value: failure.CountType[2], name: failure.failureType[2]},
                                    {value: failure.CountType[3], name: failure.failureType[3]}
                                ],
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    //获取dom容器
                    var myChart = echarts.init(document.getElementById('failuretypebing'));
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                })
            }
        },
    });
</script>

</body>
</html>

</html>
